body{
  overflow-x: hidden;
  background-color: #1d1d1d;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  user-select: none;
}

#imagePreview{
  /* display: flex; */
  gap: 15px;
  margin: auto;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  display: none;
  margin-top: 25px;
}
.image{
  height: 150px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.name {
  position: absolute;
  pointer-events: none;
  background-color: rgb(17, 132, 240);
  width: 100%;
  opacity: 0;
  transition: 0.2s;
}
.image > img {
  pointer-events: none;
}
.image:hover > .button{
  opacity: 1;
  transition: 0.2s;
}
.image:hover > .name {
   opacity: 1;
   transition: 0.2s;
}
.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button{
  width: 100%;
  height: 20px;
  background-color: rgb(17, 132, 240);
  pointer-events: none;
  position: absolute;
  opacity: 0;
  bottom: 0px;
  transition: 0.2s;
}
#pdfAllBtn{
  display: none;
  width: 300px;
  height: 40px;
  background-color: rgb(151, 62, 62);
  color: #4d2323;
  margin: auto;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
#pdfAllBtn:hover{
  color: black;
  background-color: rgb(163, 70, 70);
  transition: 0.2s;
}
#fileTransfer{
  width: fit-content;
  padding: 20px;
  display: flex;
  margin: auto;
  background-color: #fdfdfd;
  color: black;
  align-items: center;
  border-radius: 15px;
  margin-top: 25px;
}
#fileTransfer_btn{
  width: 200px;
  height: 50px;
  background-color: #2f323d;
  margin-right: 10px;
  border-radius: 8px;
  color: rgb(165, 165, 165);
}
#fileTransfer_btn:hover{
  color: white;
  background-color: #404453;
  cursor: pointer;
}
.btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn > span{
  pointer-events: none;
}
#noImagesScreen{
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  height: calc(100vh - 16px);
}
#noImagesScreen_container{
  width: 100%;
  padding-bottom: 22.125%;
  background: #2f323d; 
}
#noImagesScreen_opts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 22.125%;
}
#uploadIcon{
  transform: scale(4);
}
#uploadText{
  margin-top: 40px;
  color: rgb(165, 165, 165);
}
.blue{
  color: #6b6be0
}
#clearAllBtn{
  display: none;
  width: 150px;
  height: 40px;
  background-color: #1c5ba3;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 25px;
  transition: 0.2s;
}
#clearAllBtn:hover{
  background-color: #2164b1;
  transition: 0.2;
  cursor: pointer;
}
#topBtns{
  display: flex;
}
#image_savedStatus{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #99991a;
  color: black;
  display: none;
  padding: 5px 0 5px 0px;
  justify-content: center;
}
#clearAllSavedBtn{
  display: none;
  width: 200px;
  height: 40px;
  background-color: #99991a;
  color: black;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
#clearAllSavedBtn:hover{
  cursor: pointer;
  transition: 0.2s;
  background-color: #bbbb20;
}
/* save file window  */
#saveWindowContainer{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;

}
#saveLocationWindow{
  width: 700px;
  height: 500px;
  background-color: #21232b;
  border-radius: 15px;
  position: relative;
}
#dirConent{
  width: 94%;
  padding-left: 1%;
  padding-right: 1%;
  height: 86%;
  background-color: #2f323d;
  margin: auto;
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
}
#currentDir{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  overflow: hidden;
}
#currentDir_arrows{
  width: 15%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#currentDir_text{
  border-radius: 8px;
  width: 100%;
  height: 70%;
  margin-right: 15px;
  background-color: white;
  color: black;
  display: flex;
  padding-left: 20px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
#currentDir_text_content{
  overflow: hidden;
  width: calc(100% - 20px);
}
.arrow{
  margin-top: 4px;
  width: 10px;
  height: 10px;
  border-color: white !important;
  cursor: pointer;
  pointer-events: none;
  margin-left: 10px;
}
#currentDir_files{
  margin-top: 20px;
  overflow-y: auto;
  color: #a8a8a8;
  height: 80%;
  background-color: inherit;
}
.currentDir_files_file{
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 25px;
}
.currentDir_files_file:hover{
  background-color: #21232b;
  cursor: pointer;
}
.currentDir_pdf_icon{
  width: 25px;
}
#currentDir_back{
  width: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 30px;
}
#currentDir_forward{
  width: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 30px;
}
#saveLocationWindow_bottomSection{
  display: flex;
  align-items: center;
  height: 55px;
  width: 95%;
  margin: auto;
}
#pdfSaveIcon{
  width: 35px;
  margin-right: 10px;
}
#saveLocationWindow_fileName{
  width: 100%;
}
#saveLocationWindow_fileName > input{
  height: 30px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 17px;
  padding-left: 20px;
}
#saveLocationWindow_saveBtn{
  width: 150px;
  height: 33px;
  background-color: #4d2323;
  margin-left: 35px;
  border-radius: 8px;
}
#saveWindow_popupContainer{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
}
#saveWindow_popup{
  width: 40%;
  height: 150px;
  background-color: #21232b;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
}
#saveWindow_btns{
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 27%;
  gap: 20px;
  justify-content: center;
}
.saveWindow_popupBtn{
  border-radius: 8px;
  height: fit-content;
  width: 50px;
  text-transform: uppercase;
  padding: 7px;
}
#saveWindow_popupBtn_cancel{
  background-color: #a02121;
}
#saveWindow_popupBtn_save{
  background-color: #2b912b;
}
#saveWindow_popup_fileName{
  color: red;
  text-align: center;
}
#saveWindow_popup_text{
  width: 90%;
  margin-top: 10px;
}
#saveWindow_popup_text_content{
  text-align: center;
  margin-top: 10px;
}